*{
  margin: 0;
 box-sizing: border-box;
}
h2{
  text-align: center;
  color: white;
}
#inputTag{
  margin-left: 41%;
margin-top: 6%;
height: 2rem;
border: none;
border-radius: 4rem;
}
#buttonTag{
  height: 2rem;
  border: none;
  border-radius: 4rem;
}
p{
  color:black;
  font-size: 1.3rem;
}
button{
  color: white;
  background-color: green;
  height: 2rem;
  border: none;
  margin-top: 3%;
  border-radius: 4rem;
}
header{
  background-color: green;
  height: 4rem;
}
body{
  /* color from spotify */
  background: ffc362;
  background: radial-gradient(ellipse at center, #f6cb6c 0%, #f3c65d 0%, #f2ae54 100%)
}



h1,p{
  text-align: center;
}
.container{
  margin-left: 10%;


}
